[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = git@github.com:glfw/glfw.git
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Engine/vendor/glad"]
	path = Engine/vendor/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = git@github.com:g-truc/glm
